@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* main css code*/
.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  font-family: 'Lora', serif;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

/*play css*/
.quiz-header {
    position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quiz-answers {
  font-size: 1.5rem; 
  margin-bottom: 1rem; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


#quiz-question{
    font-weight: bold;
    font-size: 2rem
}

.players {
    position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  opacity: 0.5;
}

/* index css */
.navbar,
.navbar .navbar-brand,
.navbar .nav-link {
  color: #344E41;
}

.navbar .nav-link.active {
  color: #344E41;
  font-weight: 600;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #588157;
}

/* colors */
.back-light {
  background-color: #F0F4EF;
  color: #344E41;
}

.back-dark {
    background-color: #DAD7CD;
    color: #344E41;
}

.but-color {
    background-color: #588157;
    color: #F0F4EF
}

.sec-but {
    background-color: #A3B18A ;
    color:#344E41;
}

.form-control:focus {
  border-color: #588157;         
  box-shadow: 0 0 0 0.2rem rgba(88, 129, 87, 0.25);
}

/*about css */
main img {
  max-width: 100%; 
  height: auto;    
  display: block;   
  margin: 1rem auto; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

main p {
  max-width: 600px;
  margin: 1rem auto 2rem auto;
  font-size: 1.5rem;
}
